.menu-icon{
    display: none;
}
.navbar-links{
    display: flex;
    justify-content: space-evenly;
    width: 56%;
    align-items: center;
    margin-right: 34px;
}
.educacion hr, .distinciones hr, .academia hr {
    width: 20%;
}
.hero .hero-title img {
    width: 36%;
}
.content__firma{
    padding: 50px;
}


.section-card {
  max-width: 70%;
  padding: 40px;
}
.canizzo {
  width: 100%;
 max-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-la-firma h5 {
  text-align: justify;
  text-justify: inter-word; /* Distribuye mejor las palabras */
  hyphens: auto; /* Habilita guiones automáticos si el navegador lo soporta */
}
.ag-courses_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* siempre dos columnas */
  gap: 30px;
  max-width: 1000px; /* opcional, para centrar */
  margin: 0 auto; /* centra la grilla */
}
