.menu-icon{
    display: none;
}
.navbar-links{
    display: flex;
    justify-content: space-evenly;
    width: 56%;
    align-items: center;
    margin-right: 34px;
}
.educacion hr, .distinciones hr, .academia hr {
    width: 20%;
}
.hero .hero-title img {
    width: 40%;
}
.content__firma{
    padding: 50px;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(50% - 30px);
  flex-basis: calc(50% - 30px);
}
.ag-courses-item_title {
  font-size: 24px;
}
.encima-socios-guillermo{
  top: 17%;
}
