/* Navbar Section */
#navbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    transition: background-color 0.3s ease;
    height: 68px;
    background-color: #0d0d0d;
    position: fixed !important;
    top: 0;
}

.home img{
    width: 72px;
    height: 100%;
    margin-right: 10px;

}
.navbar-links{
    display: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-right: 10px;
}
.fa-solid  {
    width: 15px;
    height: 30px;
    margin-top: 10px;
    margin-right: 30px ;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
   }

.home a,
.navbar-links li a {
text-decoration: none;
color: rgb(185, 180, 180);
font-family: "roboto", sans-serif;
font-size: 0.9rem;
font-weight: bold;
text-transform: uppercase;
/* opacity: 0.5; */
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: #0d0d0d;
justify-content: center;
list-style: none;
position: relative;
top: -10px;
}
.navbar-links li a:hover{
    color: white;

}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}

/* Hero section */

.video {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height */
  overflow: hidden;
}
.video video {
  filter: grayscale(70%) brightness(80%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero{
    position: relative;
    /* bottom: -3px; */
}
.hero .hero-title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 370px;
    text-align: center;
    color: rgb(11, 11, 11);
    font-size: 2rem;
    font-family: "Moderustic", sans-serif;
    white-space: nowrap;
  }
/* Section La Firma */
.la-firma{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
    min-height: 60vh;

}
.container-la-firma{
  margin: 50px auto;
}
.parrafo-la-firma h5{
  color: white;
  font-weight: 300;
    line-height: 1.4;
    letter-spacing: .5px;
    margin-bottom: 15px;
  font-size: 25px;
  padding: 0 70px;
  text-align: center;

}

span{
  font-style: italic;
  font-family: "Merriweather", serif;
}

/* Section Áreas de práctica */
.areas-de-practica{
  min-height: 100vh;
  background-color:#171715;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
}

.section-socios{
   background-color: var(--color-primary);
   width: 100%;
   min-height: 50vh;
   flex-direction: column;
   position: relative;
   align-items: center;
   display: flex;
}
.areas h2,
.areas-socios h2{
   font-family: 'Roboto Condensed', sans-serif;
   position: absolute;
   top: 16%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgba(63, 63, 63, 0.549);
   font-family: var(--font-family-jomlhari);
   font-size: 4.5rem;
    white-space: nowrap;
    letter-spacing: 1px;
}

.encima h3 {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.926);
    font-family: "Merriweather", serif;
    font-size: 1.8rem;
    font-weight: bold;
    white-space: nowrap;
}
.logos{
  display: flex;
  flex-direction: column;
}
.logos-up,
.logos-down{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}
.logos-up{
  position: absolute;
 top: 35%;
  flex-shrink: 1;
  flex-grow: 1;
}
.logos-down{
  position: absolute;
  bottom: 20%;
}
.logo{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.logo-img{
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    filter: grayscale(100%) brightness(150%);
}
.logos-up a p,
.logos-down a p {
  color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}
.loguito{
  margin-top: 10px;
}
.logo:hover{
  transform: scale(1.1);
  cursor: pointer;

}
/* Parallax */
.parallax {
    background-image: url('/assets/images/a71d44f588a65bf9fa05a712def35e18\ \(1\).jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
/*     filter: grayscale(0%) brightness(99%);
 */}
.content__firma p{
  font-family: 1.2rem;
 position: relative;
 margin: 20px 20px 0 40px;
 text-align:start;
 color: rgb(238, 236, 236);
 font-family: 'Montserrat', sans-serif;
 margin-bottom: 10px;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}



  /* Contact */
  .container{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
  }

  .areas-contacto h2{
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(55, 55, 55, 0.648);
    font-family: var(--font-family-jomlhari);
    font-size: 3.8rem;

 }

  .section-contacto{
    background-color:#1D1D1B;
    width: 100%;
    flex-direction: column;
    position: relative;
    align-items: center;
 }
  .encima-contacto h3{
      position: absolute;
      top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(240, 232, 232);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      white-space: nowrap;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }

  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }

  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }

  /* on hover placeholder */

  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }

  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  #form {
    position: relative;
    width: 370px;
    padding-top: 161px;
}

  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 370px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: #726659;

    border: solid 1px #b3aca7;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }

  textarea {
    width: 370px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;

    border: solid 1px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }

  #submit {
    width: 370px;

    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;

    outline:none;
    cursor: pointer;

    border: solid 1px #b3aca7;
    border-top: none;
  }

  #submit:hover {
    color: #ffffff;
  }



/* Footer*/
.footer,
.footer-areas-de-practica {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
   flex-flow: row wrap;
   padding: 80px 30px 20px 30px;
   color: #f2eeee;
   background-color: #0b0b0b;
 }
 .footer-areas-de-practica{
 background-color: #010101;
}
 .footer > * {
   flex:  1 100%;
  /*  background-color: #f0f0f0;
 border: 1px solid #ccc; */
 }

 .footer__addr {
   margin-right: 1.25em;
   margin-bottom: 2em;
   display: flex;
   justify-content: center;
 }

 .footer__logo img {
   margin: auto;
   max-width: 250px;

 }

 .footer__addr h2 {
   margin-top: 10px;
   font-size: 15px;
   font-weight: 400;
 }

 .nav__title {
   font-weight: 400;
   font-size: 15px;
 }

 .footer address {
   font-style: normal;
   color: #999;
 }

 .footer ul {
   list-style: none;
   padding-left: 0;
 }

 .footer li {
   line-height: 2em;
 }

 .footer a {
   text-decoration: none;
   margin-top: 0;
 }

 .footer__nav {
   display: flex;
     flex-flow: row wrap;
 }

 .footer__nav > * {
   flex: 0 100%;
   margin-right: 1.25em;
 }

 .nav__ul a {
   color: #999;
 }

 .nav__ul--extra {
   column-count:1;
   column-gap: 1em;
   white-space: nowrap;


 }
 .nav__ul--extra li {
   margin-top: 0; /* Elimina cualquier margen superior predeterminado */
   margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}


 .legal {
   display: flex;
   flex-wrap: wrap;
   color: #999;
 }

 .legal__links {
   display: flex;
   align-items: center;
 }

 .heart {
   color: #2f2f2f;
 }

 @media screen and (min-width: 24.375em) {
   .legal .legal__links {
     margin-left: auto;
   }
 }

 @media screen and (min-width: 40.375em) {
   .footer__nav > * {
     flex: 2;
   }

   .nav__item--extra {
     flex-grow: 2;
   }

   .footer__addr {
     flex: 1 0px;
   }

   .footer__nav {
     flex: 2 0px;
   }
 }

 /* S O C I E D A D E S */
.hero-sociedades {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/amo.jpg');
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      flex-direction: column;
      align-items: center;
      filter: grayscale(100%);

   }
   .background-sociedades{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/amo.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   }
   .title-sociedades h1,
   .title-cobranzas h1,
   .title-la-firma h1   {
      font-family: 'Roboto Condensed', sans-serif;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255);
      font-family: var(--font-family-jomlhari);
      font-size: 1.9rem;
      white-space: nowrap;
  /*     opacity: 0.8; */
      line-height: 40px;
      letter-spacing: 3px;
   }

   .section-cobranzas,
   .section-la-firma{
    padding: 25px;
    background-color: #0d0d0d;
   }
   .section-sociedades p,
   .section-cobranzas p {
    color: rgb(255, 255, 255);
   /*  opacity: 0.8; */
    font-size: 1rem;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
   }


   /*  C O B R A N Z A S */

   .hero-cobranzas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/amo.jpg');
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size:cover;
      flex-direction: column;
      position: relative;
      align-items: center;
      filter: grayscale(100%);
   }

/* L A  F I R M A */


.hero-lafirma{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/ajedrez.avif');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  filter: grayscale(100%);

}
.section-la-firma{
  padding: 50px;
  background-color: #0d0d0d;
}
.imagen-section-la-firma img{
  display: none;
}
.section-la-firma p{
  padding: 2px;
  color: white;
  font-size: 1.5rem;
/*   opacity: 0.8; */

}


/* Guillermo Vizcaino */

.hero-guillermo-vizcaino {
/*   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/guillermo-vizcaino.jpg');
 */  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  position: relative;
  align-items: center;
  filter: grayscale(100%);
}
.card-category {

background-color: #1D1D1B;
color: rgb(255, 255, 255);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 30px;
}
.introduccion{
  padding: 40px;
  background-color: #1D1D1B;
  color: rgb(255, 255, 255);
  line-height: 21px;
}
.apellido {
  display: block;
  text-align: center;
}

.encima-socios-guillermo{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  white-space: nowrap;
}

.educacion,
.distinciones,
.academia{
  background-color: #1D1D1B;
  padding: 40px;
  color: /*  rgba(255, 255, 255, 0.5) */ rgb(255, 255, 255);
}
.educacion hr,
.distinciones hr,
.academia hr {
  width: 72%;
  position: relative;
  right: 0%;
}
.educacion h4,
.academia h4{
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.secundaria{
  letter-spacing: 2px;
  text-decoration: underline;
}
.call-to-action {
  padding: 120px 0;
  position: relative;
  clip-path: inset(0);
}

.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.call-to-action:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.call-to-action .container {
  position: relative;
  z-index: 3;
}

.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--default-color);
}

.call-to-action p {
  color: var(--default-color);
}

.call-to-action .cta-btn {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--contrast-color);
  color: var(--contrast-color);
}

.call-to-action .cta-btn:hover {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}


/* --- */
.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}



.ag-courses_box {

  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #8b8685;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #535353;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #535353;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #535353;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color:  #535353;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color:  #535353;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color:  #535353;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
.socios-content{
  margin: 50px auto;
}

/*
@media  screen and (max-width: 320px){
 .areas-contacto h2 {
  font-size: 3.1rem;
 }
 #message{
  width: 230px;
 }
 #name{
  width: 230px;
 }
  #email{
    width: 230px;
  }
  #submit{
    width: 230px;
  }
  #form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
 */
    /* i n d e x   g l o b a l */
    .areas-de-practica-dos {
/*       background-image: url('/assets/images/hero-bg.jpg');

 */      background-repeat: no-repeat;
/*       filter: grayscale(100%);
 */      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      min-height: 100vh;
      background-color: #171715;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 80px;
      background-color:#1D1D1B;
    }

    .container-ideario {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .card {
   /*    background-color: #222; */
      border-radius: 8px; /* Bordes redondeados */
      padding: 20px;
      margin-top: 20px;
      width: 90%; /* Ajusta el ancho */
      max-width: 600px; /* Ancho máximo */
      position: relative;
    }

    .title-card h3 {
      font-size: 1.5rem;
      font-weight: 500;
      color: white;
      text-align: center;
      margin-top: 10px;
      z-index: 3;
      position: relative;
    }

    .parrafo {
      color: white;
      margin: 10px auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .oculto {
      display: none;
    }

    .mostrar {
      display: block;
    }

    .ver-mas-enlace {
      color: #007bff; /* Color del texto del enlace */
      text-decoration: none; /* Quita el subrayado */
      font-weight: bold; /* Fuente en negrita */
      cursor: pointer; /* Cursor de mano */
      transition: color 0.3s ease; /* Transición suave para el color */
      margin-top: 45px;
      margin-left: 50%;
    }

    .ver-mas-enlace:hover {
      color: #0056b3; /* Color más oscuro al pasar el cursor */
    }

    .card-dos {
      background-color: #222; /* Fondo oscuro para la card */
      border-radius: 8px; /* Bordes redondeados */
      padding: 20px;
      margin-top: 20px;
      width: 90%; /* Ajusta el ancho */
      max-width: 600px; /* Ancho máximo */
      position: relative;
    }


    .carousel-container {
      overflow: hidden;
      width: 100%;

    }

    .carousel {
      display: flex;
      width: max-content; /* Permite que el contenido se alinee horizontalmente */
    }

    .carousel-item {
      flex: none;
      padding: 10px;
      width: 500px; /* Ajusta el ancho de cada item según sea necesario */
      box-sizing: border-box;
      margin: 50px auto;
    }


    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .carousel.paused {
      animation-play-state: paused;
    }



/* Empresas */
/* .areas-empresas{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  position: relative;
  top: -1%;
  left: 47%;
    transform: translate(-50%, -50%);
    color: rgba(55, 55, 55, 0.648);
    font-family: var(--font-family-jomlhari);
    font-size: 3rem;
} */
/* .encima-empresas h3{
  position: absolute;
  top: -476%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.926);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 2px;
} */
.empresas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  height: 70vh;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
}



.carousel-item {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.carousel-item h3 {
  font-size: 1.5em;
  color: #f3ecec;
}

.carousel-item p {
  font-size: 1em;
  color: #555;
}


 .encima-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta según sea necesario */
  margin-bottom: 20px; /* Espacio entre el título y el carousel */
}

.titulo-centrado {
  font-size: 2em;
  color: #f3ecec; /* Color del título */
  text-align: center;
}
.canizzo{
}
/* Estilos para móviles primero */

.canizzo {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-card {
  background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  backdrop-filter: blur(12px) saturate(180%); /* Efecto de blur y saturación */
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.heading-primary {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #f1f1f1;
  margin-bottom: 10px;
}

.heading-secondary {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.divider {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

.paragraph {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.85); /* Texto más legible */
  margin-bottom: 10px;
}
