/* Navbar Section */
#navbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    transition: background-color 0.3s ease;
}
.home img{
    width: 40px;
    height: 100%; 
    margin-right: 10px; 

}   
.navbar-links{
    display: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.fa-solid  {
    width: 15px;
    height: 30px;
    padding-top: 20px;
    padding-right: 32px ;
    height: 100%;
    cursor: pointer;
   }
#navbar.fixed {
    background-color: #1e1c1c; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.home a,
.navbar-links li a {
text-decoration: none;
color: white;
font-family: "roboto", sans-serif;
font-size: 0.9rem;
font-weight: bold;
text-transform: uppercase;
opacity: 0.5;
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: rgb(0, 0, 0);
justify-content: center;
list-style: none;
}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
/* Hero section */
.hero{
    background-color: #010101;

}
.video video {
    filter: grayscale(100%) brightness(20%);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.hero{
    position: relative;
}
.hero-title h1{
  display: none;
}
.hero .hero-title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 370px;
}

/* Section Áreas de práctica */
.areas-de-practica,
.section-socios{
   background-color:black;
   width: 100%;
   min-height: 100vh;
   flex-direction: column;
   position: relative;
   align-items: center;
}
.areas h2,
.areas-socios h2{
   font-family: 'Roboto Condensed', sans-serif;
   position: absolute;
   top: 7%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: rgba(28, 27, 27, 0.422);
   font-family: var(--font-family-jomlhari);
   font-size: 4.5rem;

}

.encima h3 {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(240, 232, 232, 0.648);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    white-space: nowrap;
}
.logos-up,
.logos-down{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;    
    height: 60vh;
}
.logo{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logo-img{
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    filter: grayscale(100%) brightness(80%);
}
.logos-up a p,
.logos-down a p {
    color: rgba(255, 255, 255, 0.493);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

/* Parallax */
.parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.733)), url('/assets/images/1cffbb24ee229cc1e847b7f007c0b674.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%) brightness(70%);   
}
.content__firma p{
 position: relative;
 margin: 20px 20px 0 40px;
 text-align:start;
 color: rgb(238, 236, 236);
 font-family: 'Montserrat', sans-serif;
 margin-bottom: 10px;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.socios-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 120px;
  }
  .socios-p{
    color: rgba(238, 236, 236, 0.648);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
      font-size: 18px;
      margin-bottom: 30px;
      padding: 5px;
  }
  
  /* cards*/
  .cards{
    background-color: black;
    background: var(--color-primary);
    bottom: 10px;
    position: relative;
  }
  .card-product {
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.87);
  }
  
  .card-product img {
    height: 70%;
    width: 90px;
    object-fit: cover;
    filter: grayscale(20%) brightness(0.5);
  
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    color: white;
  }
  .card-product a{
    text-decoration: none;
    color: white;
  
  }
  .card-product .card-product-infos {
    padding: 16px;
  }
  
/* Footer*/
.footer,
.footer-areas-de-practica {
   display: flex;
   flex-flow: row wrap;
   padding: 80px 30px 20px 30px;
   color: #f2eeee;
   background-color: #010101;
 }
 .footer-areas-de-practica{
 background-color: #010101;
}
 .footer > * {
   flex:  1 100%;
  /*  background-color: #f0f0f0;
 border: 1px solid #ccc; */
 }

 .footer__addr {
   margin-right: 1.25em;
   margin-bottom: 2em;
   display: flex;
   justify-content: center;
 }

 .footer__logo img {
   margin: auto;
   max-width: 250px;

 }

 .footer__addr h2 {
   margin-top: 10px;
   font-size: 15px;
   font-weight: 400;
 }

 .nav__title {
   font-weight: 400;
   font-size: 15px;
 }

 .footer address {
   font-style: normal;
   color: #999;
 }

 .footer ul {
   list-style: none;
   padding-left: 0;
 }

 .footer li {
   line-height: 2em;
 }

 .footer a {
   text-decoration: none;
   margin-top: 0;
 }

 .footer__nav {
   display: flex;
     flex-flow: row wrap;
 }

 .footer__nav > * {
   flex: 0 100%;
   margin-right: 1.25em;
 }

 .nav__ul a {
   color: #999;
 }

 .nav__ul--extra {
   column-count:1;
   column-gap: 1em;
   white-space: nowrap;


 }
 .nav__ul--extra li {
   margin-top: 0; /* Elimina cualquier margen superior predeterminado */
   margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}


 .legal {
   display: flex;
   flex-wrap: wrap;
   color: #999;
 }

 .legal__links {
   display: flex;
   align-items: center;
 }

 .heart {
   color: #2f2f2f;
 }

 @media screen and (min-width: 24.375em) {
   .legal .legal__links {
     margin-left: auto;
   }
 }

 @media screen and (min-width: 40.375em) {
   .footer__nav > * {
     flex: 2;
   }

   .nav__item--extra {
     flex-grow: 2;
   }

   .footer__addr {
     flex: 1 0px;
   }

   .footer__nav {
     flex: 2 0px;
   }
 }

 /* S O C I E D A D E S */
.hero-sociedades {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/amo.jpg');
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      flex-direction: column;
      position: relative;
      align-items: center;
      filter: grayscale(100%);
   
   }
   .title-sociedades h1,
   .title-cobranzas h1,
   .title-la-firma h1,
   .title-la-firma h1 {
      font-family: 'Roboto Condensed', sans-serif;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255);
      font-family: var(--font-family-jomlhari);
      font-size: 1.9rem;
      white-space: nowrap;
      opacity: 0.8;
      line-height: 40px;
      letter-spacing: 3px;
   }
   .section-sociedades,
   .section-cobranzas,
   .section-la-firma{
    padding: 25px;
    background-color: black;
   }
   .section-sociedades p,
   .section-cobranzas p {
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 1rem;
   }
   
   
   /*  C O B R A N Z A S */
   
   .hero-cobranzas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/amo.jpg');
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size:cover;
      flex-direction: column;
      position: relative;
      align-items: center;
      filter: grayscale(100%);
   }
  
/* La firma */
.hero-la-firma{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  background-attachment: fixed;
  background-image: url('https://images.unsplash.com/photo-1560174038-da43ac74f01b?q=80&w=1457&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  width: 100%;
  height: 100vh;
  filter: grayscale(100%);
}

.section-la-firma{
  padding: 50px;
  background-color: black;
}
.imagen-section-la-firma img{
  display: none;
}
.section-la-firma p{
  padding: 2px;
  color: white;
  font-size: 1.5rem;
  opacity: 0.8;

}
/* Guilllermo Vizcaino */

/* Guillermo Vizcaino */

.hero-guillermo-vizcaino {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/guillermo-vizcaino.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  position: relative;
  align-items: center;
  filter: grayscale(100%);
}
.card-category {
/*   background-image:  linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.653)), url('/assets/images/Leonardo_Diffusion_XL_generate_a_black_background_with_litle_l_0.jpg') ;
 */  background-image: center;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #010101;
  bottom: -20px;
}
.introduccion{
  padding: 40px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
  line-height: 21px;
}
.areas-socios-guillermo{
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  top: 15%;

  color: rgba(28, 27, 27, 0.667);
  font-family: var(--font-family-jomlhari);
  font-size: 4.0rem;
  overflow-x: hidden;
}
.apellido {
  display: block;
  text-align: center;
}

.encima-socios-guillermo{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(240, 232, 232, 0.648);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  white-space: nowrap;
}

.educacion,
.distinciones,
.academia{
  padding: 40px;
  background-color: #000000;
  color:  rgba(255, 255, 255, 0.5);
}
.educacion hr,
.distinciones hr,
.academia hr {
  width: 40%;
  position: relative;
  right: 0%;
}
.educacion h4{
  margin-bottom: 3px;

}