
.hero .hero-title img{
    width: 56%;
}
.menu-icon{
    margin-right: 15px;
}
.logos-up a p, .logos-down a p {
    font-size: 1rem;
}
.logo-img {
    width: 59px;
    height: 59px;
}
 .cards{
    flex-direction: column;
 }

 .areas h2, .areas-socios h2,
 .areas-contacto h2{
    font-size: 6rem;
 }
 .encima h3,
 .encima-contacto h3{
    font-size: 2.1rem;
 }
 .content__firma p{
    font-size: 1.5rem;
 }
 .educacion hr, .distinciones hr, .academia hr {
    width: 37%;
 }
 .introdcuccion{
    line-height: 30px;
    font-size: 1.3rem;
 }


 .ag-format-container {
  width: 96%;
 }
