
.hero .hero-title img{
    width: 56%;
}
.menu-icon{
    margin-right: 15px;
}
.logos-up a p, .logos-down a p {
    font-size: 1.3em;
    font-weight: 400;
}
.logo-img {
    width: 59px;
    height: 59px;
}
 .cards{
    flex-direction: column;
 }

 .areas h2, .areas-socios h2,
 .areas-contacto h2,
 .areas-empresas h2{
    font-size: 5rem;
 }
 .encima h3,
 .encima-contacto h3{
    font-size: 3.1rem;
 }
 .content__firma p{
    font-size: 1.5rem;
 }
 .educacion hr, .distinciones hr, .academia hr {
    width: 37%;
 }
 .introdcuccion{
    line-height: 30px;
    font-size: 1.3rem;
 }


 .ag-format-container {
  width: 96%;
 }
 .areas-empresas{
  left: 37%;
  top: 3%;
 }


      .section-card {
        padding: 30px;
        border-radius: 20px;
      }

      .paragraph {
        font-size: 1rem;
      }

      .heading-primary {
        font-size: 2rem;
      }
      .parrafo-la-firma h5{
        font-size: 29x;
        padding: 0px 118px

      }
